body{
    background: url(imgs/bgimagelight.png);
    background-size: cover;
    background-position:top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Nunito", sans-serif;
}

@media (max-width: 767px) {
    body{
            background-position: 52% bottom;
           
    }        
}   

html{
    height:100%;
}

/* text */

#aboutme h1{
    font-size:3.5rem;
    font-weight:100;
}

#aboutme p{
    font-size:0.85rem;
    font-weight:100;
}

#aboutme .toptext{
    font-size:1.125rem;
    font-weight:100;
}

#aboutmelg h1{
    font-size:6rem;
    font-weight:100;
}

#aboutmelg p{
    font-size:1.125rem;
    font-weight:100;
}

#aboutmelg .toptext{
    font-size:1.35rem;
    font-weight:100;
}
/* navbar */

#mainNavbar{
    background: white;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: grey;
}

#mainNavbar .nav-link:hover {
    color: black;
}

#mainNavbar .nav-icons{
    color: grey;
}

#mainNavbar .nav-icons:hover {
    color: black;
}

#mainNavbar .navbar-brand {
    color: black;
    font-size: 1.5rem;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url(imgs/customtoggle.png);
}

.navbar.scrolled{
    background:white;
    transition: background 250ms;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar .navbar-collapse{
    text-align: center;
} 


@media (max-width: 767px) {
    .nav-item{
            font-size:2rem;
            margin:10px;
    }        
}   

/* image */

@media (max-width: 767px) {
    .grphd{
            margin-left:5%;
    }        
}   

.grphd{
    height:90%;
    width:90%;
}